#header{

font-family: 'Times New Roman', Times, serif;

#image{


    
}

#single_text{

    color: darkblue;
}

#span{
    background-color: aqua;
        width: 20%;

.text_2{

    color: beige;
}

    }
.text{

    color: red;
}


}

